.ant-table-thead > tr > th {
	color: #262625 !important;
	background: #ccc !important;
	border-bottom: 1px solid #6c6c6c !important;
}
.tag_status {
	border-radius: 15px;
	height: 15px;
	width: 30px;
	cursor: pointer;
}
.tag_code {
	background-color: rgb(244, 35, 35);
	border-radius: 15px;
	cursor: pointer;
	height: 100% !important;
	width: fit-content !important;
}
